name: Echo of Thought Bot

on:
  schedule:

    - cron: '0 5,10,22 * * *'
  workflow_dispatch: 
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    
    - name: Set up Python 3.9
      uses: actions/setup-python@v4
      with:
        python-version: "3.9"
        
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install requests pillow python-dotenv
        
    - name: Run Bot Script
      env:
        FACEBOOK_BOT_API_KEY: ${{ secrets.FACEBOOK_BOT_API_KEY }}
        FACEBOOK_PAGE_ID: ${{ secrets.FACEBOOK_PAGE_ID }}
        INSTAGRAM_ACCOUNT_ID: ${{ secrets.INSTAGRAM_ACCOUNT_ID }}
        UNSPLASH_API_KEY: ${{ secrets.UNSPLASH_API_KEY }}
      run: python main.py
